@model  IEnumerable<MinhaWebApi.Models.Contato>

@{
    ViewData["Title"] = "Contatos Meta";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Incluir</a>
</p>

<table class="table table-striped table-hover">
    <thead>
        <tr class="success">
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoContato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CanalContato)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ObservacaoContato)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoContato.Descricao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CanalContato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ObservacaoContato)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-warning" asp-route-id="@item.Id">Editar</a>
                <a asp-action="Details" class="btn btn-success" asp-route-id="@item.Id">Detalhar</a>
                <a asp-action="Delete" class="btn btn-danger"  asp-route-id="@item.Id">Excluir</a>
            </td>
        </tr>
        }
    </tbody>
</table>

